<div>
    <h3>Submitted Information</h3>
    <p>Name : <%= context.name%> </p>
    <p>Dojo Location : <%= context.location%> </p>
    <p>Favorite Language : <%= context.lang%></p>
    <p>Comment : <%= context.comment%></p>
</div>
<a href="/">Back</a>